<footer>
    <div class="footer-container">
        <section class="site-info">
            <h1>Checklist</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="copyright-txt">&copy; 2019 Elikem Hermon</p>
        </section>
        <section class="social-box">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram mid-icon"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </section>
    </div>
</footer>
