<meta charset="utf-8">
<meta name="author" content="Elikem Hermon">
<meta name="description" content="A simple checklist application">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Checklist</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Montserrat:400,500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d3e015291c.js"></script>
