<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link href="/src/css/layout.css" rel="stylesheet">
        <link href="/src/css/index.css" rel="stylesheet">
        <script src="/src/js/index.js" defer></script>
    </head>

    <body>
        <% let links = [{ name: 'Login', href: '/login', class: '' }] %>
        <%- include('partials/navigation', {links: links}) %>

        <main role="main">
            <div class="placeholder">Placeholder</div>
        </main>

        <%- include('partials/footer') %>
    </body>
</html>
